<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib" type="CompositeC1Contrib.GenericActionProvider, CompositeC1Contrib.Core" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
</configuration>