@using System.Linq

@using CompositeC1Contrib.Teasers.Data
@using CompositeC1Contrib.Teasers.Web.UI

@functions
{
    [FunctionParameter(Label = "Position")]
    public string Position { get; set; }
}

@{
    var pageTeaserHolders = TeaserFacade.PageTeasersForRequest.Where(t => t.Position == Position).ToList();
    if (pageTeaserHolders.Any())
    {
        pageTeaserHolders = pageTeaserHolders.OrderByDescending(o => o.AdditionalInfo.ReverseDepth).ThenBy(o => o.AdditionalInfo.Teaser.LocalOrdering).ToList();

        <div class="teasers">
            @Html.RenderScriptTags()

            @foreach (var pageTeaserHolder in pageTeaserHolders)
            {
                var teaser = pageTeaserHolder.AdditionalInfo.Teaser;
                var typeName = teaser.DataSourceId.InterfaceType.Name;

                @Html.RenderFocusLink(teaser, "Focus")
                @Html.RenderEditLink(teaser, "Edit")

                <div class="teaser type-@pageTeaserHolder.AdditionalInfo.InterfaceType.Name.Replace("IPageTeaser", String.Empty).ToLower() reverse-depth-@pageTeaserHolder.AdditionalInfo.ReverseDepth">
                    @Function("Teasers.Types." + typeName, new {Teaser = teaser})
                </div>
            }
        </div>
    }
}