<configuration>
  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.UserControlFunctions.FunctionProvider.UserControlFunctionProvider, CompositeC1Contrib.UserControlFunctions" name="CompositeC1Contrib.UserControlFunctions" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>