<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="scheduledTasks" type="CompositeC1Contrib.ScheduledTasks.Configuration.ScheduledTasksSection, CompositeC1Contrib.ScheduledTasks" />
    </sectionGroup>

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>

  <compositeC1Contrib>
    <scheduledTasks />
  </compositeC1Contrib>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
    <specialSources>
      <allEvents switchValue="Information" name="All Events">
        <listeners />
      </allEvents>

      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
    </specialSources>
  </loggingConfiguration>
</configuration>