<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="scheduledTasks" type="CompositeC1Contrib.ScheduledTasks.Configuration.ScheduledTasksSection, CompositeC1Contrib.ScheduledTasks" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <scheduledTasks />
  </compositeC1Contrib>
</configuration>