<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib.GetItemLink" type="CompositeC1Contrib.GetItemLink.ActionProvider, CompositeC1Contrib.GetItemLink" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
</configuration>