<configuration>
  <loggingConfiguration>
    <listeners>
      <add name="LogglyTraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.0.0.0" traceOutputOptions="None" type="CompositeC1Contrib.Loggly.LogglyTraceListener, CompositeC1Contrib.Loggly" />
    </listeners>

    <specialSources>
      <allEvents>
        <listeners>
          <add name="LogglyTraceListener" />
        </listeners>
      </allEvents>
    </specialSources>
  </loggingConfiguration>
</configuration>