<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config"/>
  </configSections>

  <loggly xmlns="Loggly" customerToken="...">
    <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>
  </loggly>
</configuration>