<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="eCommerce" type="CompositeC1Contrib.ECommerce.Configuration.ECommerceSection, CompositeC1Contrib.ECommerce" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <eCommerce mainPageId="" recieptPageId="" testMode="true" defaultProvider="Dummy">
      <providers>
        <add name="Dummy" type="CompositeC1Contrib.ECommerce.DummyPaymentProvider, CompositeC1Contrib.ECommerce" merchantId="dummy" paymentMethods="web" />
      </providers>
    </eCommerce>
  </compositeC1Contrib>
</configuration>