<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="eCommerce" type="CompositeC1Contrib.ECommerce.Configuration.ECommerceSection, CompositeC1Contrib.ECommerce" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <eCommerce mainPageId="" recieptPageId="" testMode="true" defaultProvider="Quickpay">
      <providers>
        <add name="Quickpay" type="CompositeC1Contrib.ECommerce.QuickpayProvider, CompositeC1Contrib.ECommerce" md5Secret="" merchantId="" />
      </providers>
    </eCommerce>
  </compositeC1Contrib>
</configuration>