<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="formBuilder" type="CompositeC1Contrib.FormBuilder.Configuration.FormBuilderConfigurationHandler, CompositeC1Contrib.FormBuilder" />
      <section name="teasers" type="CompositeC1Contrib.Teasers.Configuration.TeasersSection, CompositeC1Contrib.Teasers" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <teasers>
      <positions />

      <templates />
    </teasers>
  </compositeC1Contrib>

  <system.webServer>
    <modules>
      <add name="CompositeC1Contrib.Teasers" type="CompositeC1Contrib.Teasers.Web.TeaserModule, CompositeC1Contrib.Teasers" />
    </modules>
  </system.webServer>
</configuration>