<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.ElementProviders.FormBuilderElementProvider, CompositeC1Contrib.FormBuilder" name="FormBuilderElementProvider" />

      <add type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.VirtualElementProvider, Composite" name="VirtualElementProvider">
        <Perspectives>
          <add name="ContentPerspective" tag="Content" label="${Composite.Management, VirtualElementProviderElementProvider.ContentPerspective}" closeFolderIconName="Composite.Icons.perspective-content" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.SimpleVirtualElement, Composite">
            <Elements>
              <add providerName="FormBuilderElementProvider" name="FormBuilderPerspective" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>

  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.FunctionProviders.FormBuilderFunctionProvider, CompositeC1Contrib.FormBuilder" name="FormBuilder" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>