<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Composite.Core.PageTemplates.Plugins.PageTemplateProviderConfiguration>
    <PageTemplateProviders>
      <add name="Mvc" type="CompositeC1Contrib.Rendering.Mvc.MvcTemplateProvider, CompositeC1Contrib.Rendering.Mvc" />
    </PageTemplateProviders>
  </Composite.Core.PageTemplates.Plugins.PageTemplateProviderConfiguration>
</configuration>