<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.ECommerce.C1Console.ElementProviders.ECommerceElementProvider, CompositeC1Contrib.ECommerce" name="ECommerceElementProvider" />

      <add name="VirtualElementProvider">
        <Perspectives>
          <add name="SystemPerspective">
            <Elements>
              <add providerName="ECommerceElementProvider" name="ECommerceElementProvider" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
</configuration>