<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib.Security" type="CompositeC1Contrib.Security.PagePermissionsActionProvider, CompositeC1Contrib.Security" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>

  <Composite.Core.WebClient.Renderings.Plugins.RenderingResponseHandlerConfiguration>
    <RenderingResponseHandlerPlugins>
      <add name="CompositeC1Contrib.Security" type="CompositeC1Contrib.Security.Web.ResponseHandler, CompositeC1Contrib.Security" />
    </RenderingResponseHandlerPlugins>
  </Composite.Core.WebClient.Renderings.Plugins.RenderingResponseHandlerConfiguration>
</configuration>