<configuration>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="sitemap.axd" type="CompositeC1Contrib.Web.SiteMapHandler, CompositeC1Contrib.SiteMapProvider" />
    </httpHandlers>

    <siteMap defaultProvider="CompositeC1">
      <providers>
        <add name="CompositeC1" type="CompositeC1Contrib.Web.CompositeC1SiteMapProvider, CompositeC1Contrib.SiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="SiteMap" verb="GET" path="sitemap.xml" type="CompositeC1Contrib.Web.SiteMapHandler, CompositeC1Contrib.SiteMapProvider" />
    </handlers>
  </system.webServer>
</configuration>