<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib.DownloadFoldersAsZip" type="CompositeC1Contrib.DownloadFoldersAsZip.ActionProvider, CompositeC1Contrib.DownloadFoldersAsZip" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
</configuration>