<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="ValidateFormHandler" verb="POST,GET" path="validateform" type="CompositeC1Contrib.FormBuilder.Web.ValidateFormHandler, CompositeC1Contrib.FormBuilder" allowPathInfo="false" />
    </handlers>
  </system.webServer>
</configuration>