<configuration>
  <Composite.C1Console.Elements.Plugins.ElementAttachingProviderConfiguration>
    <ElementAttachingProviderPlugins>
      <add name="CompositeC1Contrib.Teasers" type="CompositeC1Contrib.Teasers.C1Console.TeaserElementAttachingProvider, CompositeC1Contrib.Teasers" />
    </ElementAttachingProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementAttachingProviderConfiguration>
</configuration>