<configuration>
  <system.web>
    <httpModules>
      <add name="MasterPageModule" type="CompositeC1Contrib.Web.MasterPageModule, CompositeC1Contrib.Rendering.MasterPage" />
    </httpModules>
    
    <pages>
      <controls>
        <add tagPrefix="f" namespace="CompositeC1Contrib.Web.UI.F" assembly="CompositeC1Contrib.Rendering.MasterPage"/>
        <add tagPrefix="rendering" namespace="CompositeC1Contrib.Web.UI.Rendering" assembly="CompositeC1Contrib.Rendering.MasterPage"/>
      </controls>
    </pages>    
  </system.web>

  <system.webServer>
    <modules>
      <add name="MasterPageModule" type="CompositeC1Contrib.Web.MasterPageModule, CompositeC1Contrib.Rendering.MasterPage" />
    </modules>
  </system.webServer>
</configuration>