<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.Rendering.Nancy.Functions.NancyFunctionsProvider, CompositeC1Contrib.Rendering.Nancy" name="Nancy" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>