<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.Email.ElementProviders.MailElementProvider, CompositeC1Contrib.Email" name="MailElementProvider" />
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>

  <add name="VirtualElementProvider">
    <Perspectives>
      <add name="SystemPerspectiveMail">
        <Elements>
          <add id="SystemPerspective" order="99" parentId="ID01" tag="System" providerName="MailElementProvider" label="${Composite.Management, VirtualElementProviderElementProvider.SystemPerspective}" closeFolderIconName="Composite.Icons.perspective-system" openFolderIconName="" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.ProviderHookingElementConfigurationElement, Composite" name="SystemPerspectiveMail" />
        </Elements>
      </add>
    </Perspectives>
  </add>
</configuration>