<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.Email.C1Console.ElementProviders.MailElementProvider, CompositeC1Contrib.Email" name="MailElementProvider" />

      <add name="VirtualElementProvider">
        <Perspectives>
          <add name="SystemPerspective">
            <Elements>
              <add providerName="MailElementProvider" name="MailElementProvider" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>

  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.Email.FunctionProviders.EmailFunctionProvider, CompositeC1Contrib.Email" name="Email" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>