<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="siteUpdate" type="CompositeC1Contrib.SiteUpdate.Configuration.SiteUpdateConfigurationSection, CompositeC1Contrib.SiteUpdate" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <siteUpdate storeLocation="~/App_Data/SiteUpdate" />
  </compositeC1Contrib>
</configuration>